<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Github!</title>
  </head>
  <body>
    <div class="container">
      <br>
      <br>
      <div class="text-right">

      </div>
      <br>
      <br>
      <h1>Github Repos</h1>
      

      <div class="active-purple-3 active-purple-4 mb-4">

          <form class="d-flex" action="{{ url_for('search') }}">
  <input class="form-control me-2" type="search" placeholder="Search" name="search">
  <button class="btn btn-outline-secondary" type="submit">Search</button>
</form>



      </div>

      <table class="table">
         <thead class="table table-dark table-hover">
           <tr>
             <th scope="col">Full name</th>
             <th scope="col">Description</th>
             <th scope="col">Date created</th>
<!--             <th scope="col">Home Page</th>-->
               <th scope="col">Language</th>
<!--                <th scope="col">Number of forks</th>-->

           </tr>
         </thead>


         <tbody>

           {% for obj in user %}
           <tr>
             <td>{{obj.full_name}}</td>
             <td>{{obj.description}}</td>
             <td>{{obj.created_at}}</td>
<!--             <td>{{obj.homepage}}</td>-->
             <td>{{obj.language}}</td>
<!--             <td>{{obj.forks}}</td>-->

           </tr>
           {% endfor %}

         </tbody>
        </table>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>